<html ng-app="crowdnavigation">
    <head>
        {% block title %}<title>Crowd Navigation</title>{% endblock title %}
		{% block head_scripts %}
		<script src="/_ah/channel/jsapi"></script>
		<script src="/js/angular.js"></script>
		<script src="/js/angular-resource.js"></script>
		<script src="/js/ZeroClipboard.js"></script>
		<script src="/js/ng-clip.js"></script>
		<script src="/js/app.js"></script>
		<script src="/js/services.js"></script>
		<script src="/js/controllers.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/app.css">
		{% endblock head_scripts %}
    </head>
    {% block body_tag %}<body>{% endblock body_tag %}
        {% block body_scripts %}
        <script src="/js/jquery-2.0.3.min.js" type="text/javascript"></script>
        {% endblock body_scripts %}
        <div id="content">
        {% block content %}{% endblock content %}
        <div id="content_footer"></div>
        </div>
        <footer id="footer">
            CCNY Visual Computing Lab, Crowd Assisted Navigation, 2013 - 2014, http://crowd-navigation.appspot.com/
        </footer>
    </body>
</html>