{% extends "nav-room-base.html" %}
{% block room_title %}Demo Room{% endblock room_title %}
{% block tokbox_container %}
<div class="flex-video">
    <iframe width="480" height="360" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.youtube.com/embed/llHIcfGP-5M?autoplay=1&loop=1&playlist=llHIcfGP-5M&controls=0&showinfo=0&modestbranding=1"></iframe>
</div>
{% endblock tokbox_container %}
{% block instructions %}
<p>Use the arrow keys to specify the direction you think the user should be headed in. The up arrow key is forward, left is left, right is right, and down is stop.</p>
<p>Your input will be aggregated with other users'. Since this is a demo with a looped video, the feedback will not be given to any real user.</p>
<p>If the arrow keys are not changing your displayed direction click somewhere on the screen (not on the video stream or map) to regain focus on the webpage.</p>
{% endblock instructions %}