{% extends "base.html" %}
{% block body_tag %}<body ng-controller="HomePageCtrl">{% endblock body_tag %}
{% block content %}
<div class="row">
     <div class="large-12 columns">
         <h1>Crowd Navigation</h1>
     </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <div class="row">
	        <div class="small-4 columns">
	            <div class="row">
                    <div class="small-12 columns">
			            <div class="panel">
			                <img src="/img/crowd_nav_icon.png" style="width:100%;" alt="CrowdNav">
			            </div>
				        <div class="panel">
				            <h3>Main Links</h3>
				            <a href="/demo" class="small button expand">Static Demo</a>
				            <a href="/vr-room" class="small button expand">VR Demo</a>
				            <a href="/nav-pub2" class="small button expand">Create Room</a>
				            <a href="/nav-room" class="small button expand">Developement</a>
				        </div>
                        <div class="panel">
                            <h3>Open Streams</h3>
                            <a ng-repeat="room in room_list | filter:{active: true}" href="/room?room_id={{room.host_id}}" class="small button expand">{{room.host_name}}</a>
                            <a href="/vr-room" class="small button expand">VR Demo</a>
                            <a href="/demo" class="small button expand">Static Demo</a>
                            <!--<h4 ng-if="(room_list | filter:{active: true}).length == 0">None</h4>-->
                        </div>
                    </div>
                </div>
	        </div>
		    <div class="small-8 columns">
		        <div class="panel">
		            <h3>Introduction</h3>
                    <p>The Crowd Navigation system aims to allow visually impaired users gain assistance in navigation (and other tasks) using crowdsourced assistance. The system is under development and this site is part of the testing grounds. Please note that the video streaming system uses WebRTC, which is currently only supported by the Chrome and Firefox browsers. However, WebRTC is currently being drafted as a W3C standard, so more browsers will likely support it soon. Also, note that the system uses Google App Engine and Google Accounts to manage users. Thus, the system will ask for basic Google Account permissions to manage user data.</p>
                    <h3>Static Demo</h3>
                    <p>A conceptual demo can be found by clicking the demo button. Rather than stream from a real person, there is a looped video being played. If multiple users log into the demo page, their directions (given by the arrow keys) will be aggregated and displayed.</p>
		            <h3>VR Demo</h3>
                    <p>A virtual reality demo can be found by clicking the demo button. Rather than stream from a real person, there is a virtual reality environment simulating a real user. If multiple users log into the demo page, their directions (given by the arrow keys) will be aggregated and used to direct the virtual avatar.</p>
		            <h3>Create Room</h3>
		            <p>The create room button will create a live stream from your browser. This can be run from a Chrome or Firefox browser on an Android mobile device. If using Firefox, the rear camera on an Android device can be selected on the page load. Audio and text feedback is provided to the user.</p>
		            <h3>Development</h3>
		            <p>The development button leads to the development version of the system. As this is being used in the testing and development, this page could be in any state.</p>
		            <h3>Open Streams</h3>
                    <p>The open streams provide a list of live streams that are available.</p>
                    <h3>Authors</h3>
                    <ul>
                        <li>Greg Olmschenk</li>
                        <li>Wai Khoo</li>
                        <li>Zhigang Zhu</li>
                        <li>Hanghang Tong</li>
                    </ul>
		        </div>
		    </div>
	    </div>
	</div>
</div>
{% endblock content %}