<script src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js"></script>
<script type="text/javascript">
    var local = {
        room_key: '(( room_key ))',
        current_user_id: '(( current_user_id ))',
        weight: '(( weight ))'
    };
    var crowd = {};

    updateRoom = function()
    {
        //Update current user's direction.
        $("#direction").html(local.direction);
        //Prepare all direction display string.
        var output = "";
        var direction_list = {};
        //For each crowdee's information...
        for(var key in crowd)
        {
            //If this is a propery unique to the crowdee model...
            if(crowd.hasOwnProperty(key))
            {
                //If the crowdee information is not empty...
                if(crowd[key])
                {
                    if(crowd[key]['weight'] && crowd[key]['direction'] && key != local.current_user_id)
                    {
                        //Concatenate this information to the display string
                        output = output + String(crowd[key]['name']) + " " + String(crowd[key]['direction']) + " " + String(crowd[key]['weight']) + "<br>";
                    }
                    //Collect the weighted direction information.
                    if(direction_list[crowd[key]['direction']])
                    {
                        direction_list[crowd[key]['direction']] += parseInt(crowd[key]['weight']);
                    }
                    else
                    {
                        direction_list[crowd[key]['direction']] = parseInt(crowd[key]['weight']);
                    }
                }
            }
        }
        //Prepare a variables for the maximal direction.
        var max_direction = "None";
        var max_value = 0;
        //For each direction that we collected...
        for(var key in direction_list)
        {
            if(direction_list.hasOwnProperty(key))
            {
                //Find the largest aggregate.
                if(direction_list[key] > max_value)
                {
                    max_direction = key;
                    max_value = direction_list[key];
                }
            }
        }
        if(max_direction)
        {
            $("#aggregate").html(max_direction);
        }
        $("#all_directions").html(output);
    };

    sendMessage = function(path, opt_param)
    {
        path += '?g=' + local.room_key;
        if(opt_param)
        {
            path += '&' + opt_param;
        }
        var xhr = new XMLHttpRequest();
        xhr.open('POST', path, true);
        xhr.send();
    };
      
    onOpened = function()
    {
        sendMessage('/opened');
    };
      
    changeDirection = function(e)
    {
        e = e || window.event;

        if(e.keyCode == '37')
        {
            //Left arrow.
            d = "Left";
        }
        else if(e.keyCode == '38')
        {
            //Up arrow.
            d = "Forward";
        }
        else if(e.keyCode == '39')
        {
            //Right arrow.
            d = "Right";
        }
        else if(e.keyCode == '40')
        {
            //Down arrow.
            d = "Stop";
        }
        local.direction = d;
        crowd[local.current_user_id] = {"direction": local.direction, "weight": local.weight}
        updateRoom();
        sendMessage('/direction', 'd=' + d);
    };
      
    onMessage = function(m)
    {
        message = JSON.parse(m.data);
        user_id = message.user_id;
        name = message.name;
        direction = message.direction;
        weight = message.weight;
        crowd[user_id] = {"name": name, "direction": direction, "weight": weight};
        updateRoom();
    };
      
    openChannel = function()
    {
        var token = '(( token ))';
        var channel = new goog.appengine.Channel(token);
        var handler = {
            'onopen': onOpened,
            'onmessage': onMessage,
            'onerror': function() {},
            'onclose': function() {}
        };
        var socket = channel.open(handler);
        socket.onopen = onOpened;
        socket.onmessage = onMessage;
    };
      
    initialize = function()
    {
        openChannel();
        document.onkeydown = changeDirection;
        onMessage({data: '(( initial_message ))'});
    };
    
    
    /* === Start TokBox Subscribing === */
    </script>
    {% block tokbox_keys %}
    <script type="text/javascript">
    {% if tokbox_token is defined %}
        var apiKey    = "((tokbox_api_key))";
        var sessionId = "((tokbox_session_id))";
        var token     = "((tokbox_token))";
    {% else %}
        var apiKey    = "44596572";
        var sessionId = "1_MX40NDU5NjU3Mn5-VGh1IEphbiAwOSAwODo0Mzo1OSBQU1QgMjAxNH4wLjM4NTQzOTM0fg";
        var token     = "T1==cGFydG5lcl9pZD00NDU5NjU3MiZzZGtfdmVyc2lvbj10YnJ1YnktdGJyYi12MC45MS4yMDExLTAyLTE3JnNpZz03YjliYjQ3YjZmMmNjNWNlYTU4MWI1ZGQ4M2M3OTkzMGIzNzIxNGUxOnJvbGU9cHVibGlzaGVyJnNlc3Npb25faWQ9MV9NWDQwTkRVNU5qVTNNbjUtVkdoMUlFcGhiaUF3T1NBd09EbzBNem8xT1NCUVUxUWdNakF4Tkg0d0xqTTROVFF6T1RNMGZnJmNyZWF0ZV90aW1lPTEzODkyODU4NDYmbm9uY2U9MC44MTI4NjM0MTQzNDA2NDAxJmV4cGlyZV90aW1lPTEzOTE4Nzc4NTAmY29ubmVjdGlvbl9kYXRhPQ==";
    {% endif %}
    </script>
    {% endblock tokbox_keys %}
    <script type="text/javascript">
    function sessionConnectedHandler(event)
    {
        subscribeToStreams(event.streams);
    }
    
    function subscribeToStreams(streams)
    {
        for (var i = 0; i < streams.length; i++)
        {
            var stream = streams[i];
            if (stream.connection.connectionId != session.connection.connectionId)
            {
                session.subscribe(stream, "tokbox_subscription", {width:$('#tokbox_container').width(), height:$('#tokbox_container').height()});
            }
        }
    }
    
    function streamCreatedHandler(event) {
        subscribeToStreams(event.streams);
    }
    
    var session = TB.initSession(sessionId);
    
    session.connect(apiKey, token);
    session.addEventListener("sessionConnected", 
                             sessionConnectedHandler);
    
    session.addEventListener("streamCreated", 
                             streamCreatedHandler);
    
    /* === End TokBox Subscribing === */

    setTimeout(initialize, 100);

</script>