{% extends "base.html" %}
{% block head %}
{% block title %}<title>VR Pub</title>{% endblock title %}
(( super() ))
<script src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js" ></script>
{% endblock head %}
{% block content %}
<div class="row">
    <div class="small-12 columns">
        <h1>VR Pub</h1>
    </div>
</div>
{% block tokbox_playback %}{% endblock tokbox_playback %}
<div class="row">
    <div class="small-6 columns">
        <div class="panel">
            <h2>Publishing...<h2>
        </div>
    </div>
</div>
{% include "tokbox-pub-script.html" %}
{% endblock content %}
