{% extends "base.html" %}
{% block content %}
{% include "nav-room-script.html" %}
<div class="row">
     <div class="large-12 columns">
         <h1>Nav Room</h1>
     </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-6 columns">
		        <div class="panel">
	                <div id="tokbox_container">
	                    <div id="tokbox_subscription">
	                        <img src="/img/poster_crowd_navigation.jpg" width="480" height="360">
	                    </div>
	                </div>
			    </div>
		    </div>
		    <div class="small-6 columns">
	            <div class="panel">
	                <div class="flex-video">
			            <iframe width="480" height="360" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=&amp;aq=&amp;sll=40.522151,-73.443604&amp;sspn=5.761748,13.392334&amp;ie=UTF8&amp;ll=40.819753,-73.949726&amp;spn=0.011205,0.026157&amp;t=m&amp;z=16&amp;output=embed"></iframe>
		            </div>
		        </div>
            </div>
	    </div>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-7 columns">
                <div class="panel">
				    <h2>Direction: <span id="direction">Nothing</span></h2>
				    <h2>Aggregate: <span id="aggregate">Nothing</span></h2>
                </div>
            </div>
            <div class="small-5 columns">
	            <div class="panel break-word">
		            Source Link: <span id="source_key">http://crowd-navigation.appspot.com/main/?g=(( source_key ))</span>
		        </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-7 columns">
        <div class="panel">
            All Directions: <div id="all_directions">Nothing</div>
        </div>
    </div>
</div>
{% endblock content %}