{% extends "base.html" %}
{% block body_tag %}<body ng-controller="NavRoomCtrl">{% endblock body_tag %}
{% block content %}
{% block script %}{% include "nav-room-script.html" %}{% endblock script %} 
<div class="row">
     <div class="large-12 columns">
         <h1>{% block room_title %}Nav Room{% endblock room_title %}</h1>
     </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-6 columns">
		        <div class="panel">
	                {% block tokbox_container %}
	                <div id="tokbox_container">
	                    <div id="tokbox_subscription">
	                        <img src="/img/poster_crowd_navigation.jpg" width="480" height="360">
	                    </div>
	                </div>
	                {% endblock tokbox_container %}
			    </div>
		    </div>
		    <div class="small-6 columns">
	            <div class="panel">
	                <div class="flex-video">
			            <iframe width="480" height="360" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;room=s_q&amp;hl=en&amp;geocode=&amp;q=&amp;aq=&amp;sll=40.522151,-73.443604&amp;sspn=5.761748,13.392334&amp;ie=UTF8&amp;ll=40.819753,-73.949726&amp;spn=0.011205,0.026157&amp;t=m&amp;z=16&amp;output=embed"></iframe>
		            </div>
		        </div>
            </div>
	    </div>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-7 columns">
                <div class="panel">
				    <h2>Direction: <span id="direction">Nothing</span></h2>
				    <h2>Aggregate: <span id="aggregate">Nothing</span></h2>
                </div>
                <div class="panel">
		            <p>All Directions: <div id="all_directions">Nothing</div></p>
		        </div>
            </div>
            <div class="small-5 columns">
	            <div class="panel break-word">
		            <p>Room Link: <span id="room_key">http://crowd-navigation.appspot.com/nav-room?g=(( room_key ))</span></p>
		        </div>
		        <div class="panel">
		            <h2>Instructions</h2>
		            {% block instructions %}
                    <p>Use the arrow keys to specify the direction you think the user should be headed in. The up arrow key is forward, left is left, right is right, and down is stop.</p>
                    <p>Your input will be aggregated with other users' input to provide feedback to the user.</p>
                    <p>If the arrow keys are not changing your displayed direction click somewhere on the screen (not on the video stream or map) to regain focus on the webpage.</p>
                    {% endblock instructions %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}