{% extends "nav-room-script.html" %}
{% block tokbox_keys %}
<script type="text/javascript">
var apiKey    = "44596572";
var sessionId = "2_MX40NDU5NjU3Mn5-U3VuIE1hciAwOSAxNTowMDo1MyBQRFQgMjAxNH4wLjcxNjQ0M34";
var token     = "T1==cGFydG5lcl9pZD00NDU5NjU3MiZzZGtfdmVyc2lvbj10YnJ1YnktdGJyYi12MC45MS4yMDExLTAyLTE3JnNpZz0xZGQ2ZTRlOWNhZTY1Mzk5YjA3YmQyNDFjOGIyZGEzYjg0MGI5ZDdlOnJvbGU9cHVibGlzaGVyJnNlc3Npb25faWQ9Ml9NWDQwTkRVNU5qVTNNbjUtVTNWdUlFMWhjaUF3T1NBeE5Ub3dNRG8xTXlCUVJGUWdNakF4Tkg0d0xqY3hOalEwTTM0JmNyZWF0ZV90aW1lPTEzOTQ0MDI0NjAmbm9uY2U9MC4yMzA3NzQ0OTk0MDMwMTIyJmV4cGlyZV90aW1lPTEzOTY5OTQ0NDAmY29ubmVjdGlvbl9kYXRhPQ==";
</script>
{% endblock tokbox_keys %}