{% extends "nav-room-script.html" %}
{% block tokbox_keys %}
<script type="text/javascript">
var apiKey    = "44596572";
var sessionId = "2_MX40NDU5NjU3Mn5-V2VkIEFwciAyMyAwNjo0ODozMCBQRFQgMjAxNH4wLjkxMzc0Njl-fg";
var token     = "T1==cGFydG5lcl9pZD00NDU5NjU3MiZzZGtfdmVyc2lvbj10YnJ1YnktdGJyYi12MC45MS4yMDExLTAyLTE3JnNpZz0yNTQxYzRiYTZkMjZhNGJjNDI5NzMxNDAwZjhjYmUwYTJhYTRiNDM5OnJvbGU9cHVibGlzaGVyJnNlc3Npb25faWQ9Ml9NWDQwTkRVNU5qVTNNbjUtVjJWa0lFRndjaUF5TXlBd05qbzBPRG96TUNCUVJGUWdNakF4Tkg0d0xqa3hNemMwTmpsLWZnJmNyZWF0ZV90aW1lPTEzOTgyNjA5MTkmbm9uY2U9MC44Nzk1NzA1NjYwNzI2MjI5JmV4cGlyZV90aW1lPTE0MDA4NTI5MDcmY29ubmVjdGlvbl9kYXRhPQ==";   
</script>
{% endblock tokbox_keys %}