{% extends "nav-pub.html" %}
{% block title %}<title>VR Pub</title>{% endblock title %}
{% block room_title %}<h1>VR Pub</h1>{% endblock room_title %}
{% block tokbox_keys %}
var apiKey    = "44596572";
var sessionId = "2_MX40NDU5NjU3Mn5-V2VkIEFwciAyMyAwNjoyNjo1MyBQRFQgMjAxNH4wLjY5ODEyNTN-fg";
var token     = "T1==cGFydG5lcl9pZD00NDU5NjU3MiZzZGtfdmVyc2lvbj10YnJ1YnktdGJyYi12MC45MS4yMDExLTAyLTE3JnNpZz0wYjM1MTllMmQxZGNmNzUxZDVmYTlhYzAzYjRmZmYxOTFjYWJlMDNjOnJvbGU9c3Vic2NyaWJlciZzZXNzaW9uX2lkPTJfTVg0ME5EVTVOalUzTW41LVYyVmtJRUZ3Y2lBeU15QXdOam95TmpvMU15QlFSRlFnTWpBeE5INHdMalk1T0RFeU5UTi1mZyZjcmVhdGVfdGltZT0xMzk4MjU5NjE4Jm5vbmNlPTAuNjY5NDgwMDc5NjY2Njc3NyZleHBpcmVfdGltZT0xNDAwODUxNjEwJmNvbm5lY3Rpb25fZGF0YT0=";
{% endblock tokbox_keys %}
{% block stream_name %}"VR stream"{% endblock stream_name %}

