{% extends "nav-pub.html" %}
{% block title %}<title>VR Pub</title>{% endblock title %}
{% block room_title %}<h1>VR Pub</h1>{% endblock room_title %}
{% block tokbox_keys %}
var apiKey    = "44596572";
var sessionId = "1_MX40NDU5NjU3Mn5-VGh1IEphbiAwOSAwOTo0NTo0MSBQU1QgMjAxNH4wLjI1MTU4Njc0fg";
var token     = "T1==cGFydG5lcl9pZD00NDU5NjU3MiZzZGtfdmVyc2lvbj10YnJ1YnktdGJyYi12MC45MS4yMDExLTAyLTE3JnNpZz0wOTMzNGYyZThiMTkzMDExZjI4NDk0ZWRjMzQ5MjNiNzkzNThmY2JkOnJvbGU9cHVibGlzaGVyJnNlc3Npb25faWQ9MV9NWDQwTkRVNU5qVTNNbjUtVkdoMUlFcGhiaUF3T1NBd09UbzBOVG8wTVNCUVUxUWdNakF4Tkg0d0xqSTFNVFU0TmpjMGZnJmNyZWF0ZV90aW1lPTEzODkyODk1Njkmbm9uY2U9MC4yNDI5NDQ2MDUxNTczMjM2MyZleHBpcmVfdGltZT0xMzkxODgxNTczJmNvbm5lY3Rpb25fZGF0YT0=";
{% endblock tokbox_keys %}
{% block stream_name %}"VR stream"{% block stream_name %}
{% endblock content %}
