{% extends "nav-pub.html" %}
{% block title %}<title>VR Pub</title>{% endblock title %}
{% block room_title %}<h1>VR Pub</h1>{% endblock room_title %}
{% block tokbox_keys %}
var apiKey    = "44596572";
var sessionId = "1_MX40NDU5NjU3Mn5-U3VuIEZlYiAwOSAxNjoxNjoxNCBQU1QgMjAxNH4wLjc2NTQ0Mn4";
var token     = "T1==cGFydG5lcl9pZD00NDU5NjU3MiZzZGtfdmVyc2lvbj10YnJ1YnktdGJyYi12MC45MS4yMDExLTAyLTE3JnNpZz1jMDJkMTRiMGQ4Zjg3ZGMwOGY5YWUxMzIyNDAxMzVkNjg5NjVlOTVjOnJvbGU9cHVibGlzaGVyJnNlc3Npb25faWQ9MV9NWDQwTkRVNU5qVTNNbjUtVTNWdUlFWmxZaUF3T1NBeE5qb3hOam94TkNCUVUxUWdNakF4Tkg0d0xqYzJOVFEwTW40JmNyZWF0ZV90aW1lPTEzOTE5OTEzNzkmbm9uY2U9MC42MTY5NDQ3NTQ3NTEwNzI4JmV4cGlyZV90aW1lPTEzOTQ1ODMzNjkmY29ubmVjdGlvbl9kYXRhPQ==";
{% endblock tokbox_keys %}
{% block stream_name %}"VR stream"{% endblock stream_name %}

