footer
{
    text-align: center;
    line-height: $footer-height;
    background: $primary-color;
}

.break-word
{
    word-wrap: break-word;
}

.center
{
    text-align: center;
}

.fi-general
{
	vertical-align: -17%; //Temporary alignment fix
    font-size: 20pt;
}